<% content_for :title, "Teams" %>

<div class="w-full space-y-6">
  <%= render UserAndTeamManagements::HeaderComponent.new(@tenant, active_tab: :teams) %>

  <%= turbo_frame_tag "teams-frame", class: "space-y-6", data: { turbo_action: "advance" } do %>
    <nav class="flex flex-col sm:flex-row justify-between items-center gap-2 sm:gap-4">
      <div class="w-full sm:w-72">
        <%= render PageReloadingSearchboxComponent.new(
          name: :q,
          text: "Search team",
          url: tenant_teams_url(@tenant),
          value: params[:q])
        %>
      </div>

      <div class="w-full sm:w-auto">
        <%= link_to(
          new_tenant_team_url(@tenant),
          class: "flex justify-center items-center gap-2 px-4 py-2 bg-neutral-800
            hover:bg-neutral-900 transition-colors rounded text-center text-sm
            text-white font-medium",
          data: {
            turbo_frame: "_top"
          }) do
        %>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-plus-icon lucide-plus size-4"><path d="M5 12h14"/><path d="M12 5v14"/></svg>
          New Team
        <% end %>
      </div>
    </nav>

    <section class="overflow-x-auto">
      <table class="table-fixed w-192 md:w-full">
        <thead>
          <tr class="*:bg-neutral-100 [&>:first-child]:rounded-l-md [&>:last-child]:rounded-r-md">
            <th class="pl-4 py-2 text-left text-sm font-medium text-neutral-600">Name</th>
            <th class="w-64 pl-4 py-2 text-left text-sm font-medium text-neutral-600">Members Count</th>
            <th class="w-64 pl-4 py-2 text-left text-sm font-medium text-neutral-600">Created</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-neutral-200 last:border-b last:border-neutral-200">
          <% @teams.each do |t| %>
            <tr class="relative *:pl-4 *:py-4 *:text-sm">
              <td>
                <%= link_to [@tenant, t] do %>
                  <span class="absolute inset-0"></span>
                  <%= t.name %>
                <% end %>
              </td>
              <td><%= t.members_count %></td>
              <td><%= t.created_at %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </section>
  <% end %>
</div>
