<%= form_with(model: [@tenant, user_import], class: "contents") do |form| %>
  <% if user_import.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(user_import.errors.count, "error") %> prohibited this user_import from being saved:</h2>

      <ul class="list-disc ml-6">
        <% user_import.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-6 text-sm">
    <%= form.label :file, "CSV File", class: "text-xs font-semibold uppercase tracking-wide text-neutral-500" %>
    <%= form.file_field :file, accept: "text/csv", class: ["block w-full sm:w-2/3 lg:w-1/2 min-h-9 mt-2 px-3 py-1.75 border shadow-xs", {"border-neutral-300 focus:outline-blue-600": user_import.errors[:file].none?, "border-red-400 focus:outline-red-600": user_import.errors[:file].any?}] %>
  </div>

  <div class="mt-8">
    <%= form.submit "Upload File", class: "w-full sm:w-auto min-h-9 px-4 py-2 bg-neutral-800 hover:bg-neutral-900 text-sm text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
