<% content_for :title, "User Imports" %>

<div class="w-full space-y-6">
  <%= render UserAndTeamManagements::HeaderComponent.new(active_tab: :user_imports) %>

  <%= turbo_frame_tag "user-imports-frame", class: "space-y-6", data: { turbo_action: "advance" } do %>
    <nav class="flex flex-col sm:flex-row justify-between items-center gap-2 sm:gap-4">
      <div class="w-full sm:w-32">
        <%= render PageReloadingSelectComponent.new(
          name: :status,
          url: user_imports_url,
          options: [
            ["All Statuses", "all"],
            ["Waiting", "waiting"],
            ["Processing", "processing"],
            ["Success", "success"],
            ["Failed", "failed"]
          ],
          selected: params[:status] || "all")
        %>
      </div>

      <div class="w-full sm:w-auto">
        <%= link_to(
          new_user_import_url,
          class: "flex justify-center items-center gap-2 px-4 py-2 bg-neutral-800
            hover:bg-neutral-900 transition-colors text-center text-sm text-white
            font-medium",
          data: {
            turbo_frame: "_top"
          }) do
        %>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-plus-icon lucide-plus size-4"><path d="M5 12h14"/><path d="M12 5v14"/></svg>
          Import Users
        <% end %>
      </div>
    </nav>

    <section class="overflow-x-auto">
      <table class="table-fixed w-216 xl:w-full">
        <thead>
          <tr class="min-h-9 *:bg-neutral-100 border border-neutral-300">
            <th class="pl-4 py-2 text-left text-sm font-medium text-neutral-600">File Name</th>
            <th class="w-40 pl-4 py-2 text-left text-sm font-medium text-neutral-600">Status</th>
            <th class="w-48 pl-4 py-2 text-left text-sm font-medium text-neutral-600">Imported</th>
            <th class="w-56 pl-4 py-2 text-left text-sm font-medium text-neutral-600">Uploaded</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-neutral-200 last:border-b last:border-neutral-200">
          <% if @user_imports.any? %>
            <% @user_imports.each do |import| %>
              <tr class="relative *:pl-4 *:py-4 *:text-sm">
                <td>
                  <%= link_to import, data: { turbo_frame: "_top" } do %>
                    <span class="absolute inset-0"></span>
                    <%= import.file.filename.to_s %>
                  <% end %>
                </td>
                <td><%= import.status %></td>
                <td><%= import.imported_count || 0 %></td>
                <td><%= l import.created_at.in_time_zone(@organization.time_zone) %></td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td
                colspan="4"
                class="py-4 text-center text-sm text-neutral-600 font-medium"
              >
                No data
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </section>
  <% end %>
</div>
