<% content_for :title, "User Imports" %>

<div class="w-full space-y-6">
  <%= render UserAndTeamManagements::HeaderComponent.new(@tenant, active_tab: :user_imports) %>

  <nav class="flex flex-col sm:flex-row justify-between items-center gap-4">
    <%= render PageReloadingSelectComponent.new(
      name: :status,
      url: tenant_user_imports_url(@tenant),
      options: [
        ["All Status", "all"],
        ["Waiting", "waiting"],
        ["Processing", "processing"],
        ["Success", "success"],
        ["Failed", "failed"]
      ],
      selected: params[:status] || "all",
      classes: "w-full sm:w-auto",
      turbo_frame: "user-imports-frame")
    %>

    <div class="w-full sm:w-auto">
      <%= link_to(
        new_tenant_user_import_url(@tenant),
        class: "flex justify-center items-center gap-2 px-4 py-2 bg-indigo-600
          hover:bg-indigo-700 focus:bg-indigo-700 transition-colors rounded
          text-center text-sm text-white font-medium") do
      %>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-plus-icon lucide-plus size-4"><path d="M5 12h14"/><path d="M12 5v14"/></svg>
        Import Users
      <% end %>
    </div>
  </nav>

  <%= turbo_frame_tag "user-imports-frame", data: { turbo_action: "advance" } do %>
    <section class="overflow-x-auto">
      <table class="table-fixed w-216 xl:w-full">
        <thead>
          <tr class="*:bg-neutral-100 [&>:first-child]:rounded-l-md [&>:last-child]:rounded-r-md">
            <th class="pl-4 py-2 text-left text-sm font-medium text-neutral-600">File Name</th>
            <th class="w-40 pl-4 py-2 text-left text-sm font-medium text-neutral-600">Status</th>
            <th class="w-48 pl-4 py-2 text-left text-sm font-medium text-neutral-600">Imported Count</th>
            <th class="w-56 pl-4 py-2 text-left text-sm font-medium text-neutral-600">Uploaded</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-neutral-200 last:border-b last:border-neutral-200">
          <% if @user_imports.any? %>
            <% @user_imports.each do |import| %>
              <tr class="relative *:pl-4 *:py-4 *:text-sm">
                <td>
                  <%= link_to [@tenant, import] do %>
                    <span class="absolute inset-0"></span>
                    File Name Here
                  <% end %>
                </td>
                <td><%= import.status %></td>
                <td><%= import.imported_count %></td>
                <td><%= import.created_at %></td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td
                colspan="4"
                class="py-4 text-center text-sm text-neutral-600 font-medium"
              >
                No data
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </section>
  <% end %>
</div>
