<% content_for :title, "Users" %>

<div class="w-full space-y-6">
  <%= render UserAndTeamManagements::HeaderComponent.new(@tenant, active_tab: :users) %>

  <%= turbo_frame_tag "users-frame", class: "space-y-6", data: { turbo_action: "advance" } do %>
    <nav class="flex flex-col sm:flex-row sm:items-center gap-2 sm:gap-4">
      <div class="w-full sm:w-32">
        <%= render PageReloadingSelectComponent.new(
          name: :role,
          url: users_url,
          options: [
            ["All Role", "all"],
            ["Member", "member"],
            ["Leader", "leader"]
          ],
          selected: params[:role] || "all")
        %>
      </div>

      <div class="w-full sm:w-72 sm:order-first">
        <%= render PageReloadingSearchboxComponent.new(
          name: :q,
          text: "Search user",
          url: users_url,
          value: params[:q])
        %>
      </div>
    </nav>

    <section class="overflow-x-auto">
      <table class="table-fixed w-272 xl:w-full">
        <thead>
          <tr class="min-h-9 *:bg-neutral-100 border border-neutral-300">
            <th class="w-40 pl-4 py-2 text-left text-sm font-medium text-neutral-600">Employee No.</th>
            <th class="pl-4 py-2 text-left text-sm font-medium text-neutral-600">Name</th>
            <th class="w-48 pl-4 py-2 text-left text-sm font-medium text-neutral-600">Phone</th>
            <th class="w-56 pl-4 py-2 text-left text-sm font-medium text-neutral-600">Email</th>
            <th class="w-72 pl-4 py-2 text-left text-sm font-medium text-neutral-600">Teams</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-neutral-200 last:border-b last:border-neutral-200">
          <% if @users.any? %>
            <% @users.each do |user| %>
              <tr class="relative *:pl-4 *:py-4 *:text-sm">
                <td><%= user.employee_number %></td>
                <td>
                  <%= link_to "#" do %>
                    <span class="absolute inset-0"></span>
                    <%= user.full_name %>
                  <% end %>
                </td>
                <td><%= user.phone_number %></td>
                <td><%= user.email_address %></td>
                <td>
                  <% user.memberships.each do |membership| %>
                    <div>
                      <%= link_to(
                        membership.team,
                        class: "relative z-10 px-3 py-1.5 border border-neutral-300
                          shadow-xs hover:shadow-sm transition-shadow",
                        data: {
                          turbo_frame: "_top"
                        }) do
                      %>
                        <%= membership.team.name %>
                        <% if membership.leader? %>(leader)<% end %>
                      <% end %>
                    </div>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td
                colspan="5"
                class="py-4 text-center text-sm text-neutral-600 font-medium"
              >
                No data
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </section>
  <% end %>
</div>
