<% content_for :title, "Shifts" %>

<div class="w-full space-y-6">
  <header class="w-full h-fit pb-4 border-b border-neutral-300 space-y-6">
    <h1 class="font-semibold text-xl">Shift Schedules</h1>
  </header>

  <%= turbo_frame_tag "shifts-frame", class: "space-y-6", data: { turbo_action: "advance" } do %>
    <nav class="flex flex-col sm:flex-row justify-between items-center gap-2 sm:gap-4">
      <div class="w-full sm:w-72">
        <%= render PageReloadingSearchboxComponent.new(
          name: :q,
          text: "Search shift",
          url: shifts_url,
          value: params[:q])
        %>
      </div>

      <div class="w-full sm:w-auto">
        <%= link_to(
          new_shift_url,
          class: "flex justify-center items-center gap-2 px-4 py-2 bg-neutral-800
            hover:bg-neutral-900 transition-colors text-center text-sm text-white
            font-medium",
          data: {
            turbo_frame: "_top"
          }) do
        %>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-plus-icon lucide-plus size-4"><path d="M5 12h14"/><path d="M12 5v14"/></svg>
          New Shift
        <% end %>
      </div>
    </nav>

    <section class="overflow-x-auto">
      <table class="table-fixed w-256 xl:w-full">
        <thead>
          <tr class="min-h-9 *:bg-neutral-100 border border-neutral-300">
            <th class="pl-4 py-2 text-left text-sm font-medium text-neutral-600">Name</th>
            <th class="w-56 pl-4 py-2 text-left text-sm font-medium text-neutral-600">Days</th>
            <th class="w-32 pl-4 py-2 text-left text-sm font-medium text-neutral-600">Start</th>
            <th class="w-32 pl-4 py-2 text-left text-sm font-medium text-neutral-600">End</th>
            <th class="w-32 pl-4 py-2 text-left text-sm font-medium text-neutral-600">Effective From</th>
            <th class="w-32 pl-4 py-2 text-left text-sm font-medium text-neutral-600">Effective To</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-neutral-200 last:border-b last:border-neutral-200">
          <% if @shifts.any? %>
            <% @shifts.each do |shift| %>
              <tr class="relative *:pl-4 *:py-4 *:text-sm">
                <td>
                  <%= link_to shift, data: { turbo_frame: "_top" } do %>
                    <span class="absolute inset-0"></span>
                    <%= shift.name %>
                  <% end %>
                </td>
                <td class="space-y-5">
                  <%= shift.recurrence_rule %>
                </td>
                <td>
                  <%= l shift.start_time, format: :without_date %>
                </td>
                <td class="flex items-center gap-2">
                  <%= l shift.end_time, format: :without_date %>

                  <% if shift.overnight? %>
                    <span class="px-1 py-0.5 bg-amber-100 border border-amber-200 text-xs">
                      +1 day
                    </span>
                  <% end %>
                </td>
                <td>
                  <%= l shift.effective_from %>
                </td>
                <td>
                  <%= shift.effective_to.present? ? l(shift.effective_to) : "-" %>
                </td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td
                colspan="4"
                class="py-4 text-center text-sm text-neutral-600 font-medium"
              >
                No data
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </section>
  <% end %>
</div>
