<%# locals: (tenant:, shift_attendance:) %>

<%= form_with(model: [tenant, shift_attendance], class: "contents") do |form| %>
  <% if shift_attendance.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(shift_attendance.errors.count, "error") %> prohibited this shift_attendance from being saved:</h2>

      <ul class="list-disc ml-6">
        <% shift_attendance.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :tenant_id %>
    <%= form.text_field :tenant_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": shift_attendance.errors[:tenant_id].none?, "border-red-400 focus:outline-red-600": shift_attendance.errors[:tenant_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": shift_attendance.errors[:user_id].none?, "border-red-400 focus:outline-red-600": shift_attendance.errors[:user_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :shift_occurence_id %>
    <%= form.text_field :shift_occurence_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": shift_attendance.errors[:shift_occurence_id].none?, "border-red-400 focus:outline-red-600": shift_attendance.errors[:shift_occurence_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :clock_in_at %>
    <%= form.datetime_field :clock_in_at, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": shift_attendance.errors[:clock_in_at].none?, "border-red-400 focus:outline-red-600": shift_attendance.errors[:clock_in_at].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :clock_out_at %>
    <%= form.datetime_field :clock_out_at, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": shift_attendance.errors[:clock_out_at].none?, "border-red-400 focus:outline-red-600": shift_attendance.errors[:clock_out_at].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :location %>
    <%= form.text_field :location, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": shift_attendance.errors[:location].none?, "border-red-400 focus:outline-red-600": shift_attendance.errors[:location].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
